{% extends 'dashboard/sidebar.html' %}
{% block title %}
Home
{% endblock %}
{% block mainpage %}

<div id="page-wrapper">
  <div id="page-inner">


      <hr>
      <h2>
          Announcements

      </h2>
      <hr>
      {% if user.is_superuser %}
       <a href="{% url 'dashboard:announcements' %}"><button class="w3-right" type="button"><i class="fa fa-plus"></i>  New Announcement</button></a>
      {% endif %}
      <br>

   <ul>
    {% for announcement in announcements %}

    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">{{announcement.created_date}}<br>{{announcement.author.name}}</span>
        <h4>{{ announcement.title }}</h4><br>
        <hr class="w3-clear">
        <p>{{ announcement.text|urlize }}</p>
      </div>




    {% endfor %}
</ul>
      <span class="current">
            Page {{ announcements.number }} of {{ announcements.paginator.num_pages }}
      </span><br>


  {% if announcements.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ announcements.previous_page_number }}" class="previous round"><span class="prevarrow">&#8249;</span></a>
  {% endif %}

      {% if announcements.has_next %}
      <a href="?page={{ announcements.next_page_number }}" class="next round"><span class="nextarrow">&#8250;</span></a>
      <a href="?page={{ announcements.paginator.num_pages }}">Last </a>

      {% endif %}

  </div>
</div>

{% endblock %}


{% block homeactive %}
                     <li class="active-link">
                        <a href="{% url 'dashboard:home' %}" ><i class="fa fa-home "></i>Home</a>
                    </li>
                    {% endblock %}