{% extends 'dashboard/sidebar.html' %}

{% block title %}Expenses{% endblock %}

{% block mainpage %}

<div id="page-wrapper">
  <div id="page-inner">
      <br>
      <a href="{% url 'dashboard:applyexpense' %}"><button class="w3-right" type="button"><i class="fa fa-plus"></i>  New Application</button></a>
      <h2>
          Expense List
      </h2>
<ul>
 {% for post in expenses %}
    <div class="w3-container w3-card w3-white w3-round w3-margin">
        <span class="w3-right w3-opacity">{{post.date}}</span>
        <br><hr>
        <h4>Subject:</h4><p>{{ post.subject }}</p><hr>
        <h4>Text:</h4><p>{{ post.text }}</p><hr>
        <h4>Date:</h4><p>{{ post.date }}</p><hr>
                <h4>Amount:</h4><p>{{ post.amount }}</p><hr>

        <h4>File:</h4>
        <a href="{{post.file.url}}">Expense - {{post.author}}</a><hr>
        <h4>Approval</h4>
        <p>{{ post.approval }}</p>
        <hr class="w3-clear">
      </div>
    {% endfor %}
</ul>

       <span class="current">
            Page {{ expenses.number }} of {{ expenses.paginator.num_pages }}
      </span><br>


  {% if expenses.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ expenses.previous_page_number }}" class="previous round"><span class="prevarrow">&#8249;</span></a>
  {% endif %}

      {% if expenses.has_next %}
      <a href="?page={{ expenses.next_page_number }}" class="next round"><span class="nextarrow">&#8250;</span></a>
      <a href="?page={{ expenses.paginator.num_pages }}">Last </a>

      {% endif %}



</div>
</div>
{% endblock %}

{% block approveexpense %}
                    <li class="active-link">
                      <a href="{% url 'dashboard:expenseapproval' %}"><i class="fa fa-edit "></i>Expenses</a>
                    </li>
{% endblock %}